{% extends 'base.html.twig' %}

{% block title %}Librairie du Lys{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    {% if books is not empty %}
        <div class="latest-books">
            <h2>Nouveautés</h2>
            <ul class="book-list">
                {% for book in books %}
                    <li>
                        <h3 class="book-title">{{ book.title }}</h3>
                        <p class="book-author">par {{ book.author }}</p>
                        <img class="book-cover" src="{{ asset(book.cover) }}" alt="{{ book.title }} cover">
                        <p class="book-description">{{ book.description }}</p>
                        <form method="post" action="{{ path('commande_create') }}">
                        <input type="hidden" name="book_id" value="{{ book.id }}">
                        <button type="submit">Commander</button>
                    </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
