{% extends 'base.html.twig' %}

{% block title %}Librairie du Lys{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    
    <form action="{{ path('app_home') }}" method="get" class="search-form form-control-lg border border-dark rounded-0">
  <div class="d-flex align-items-center">
    <input type="text" name="query" class="flex-grow-1 border-0" placeholder="Rechercher...">
    <button type="submit" class="btn btn-primary ml-2">Chercher</button>
  </div>
</form>
    <div class="bg-dark text-white p-4 rounded bg-opacity-10">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10 col-12">
                    <div class="text-white p-4 rounded bg-opacity-10">
                        <h1 class="text-center">Qui sommes-nous ?</h1>
                        <p class="text-center">La librairie du lys c'est avant tout une vision, une idée de rapprocher les gens autour d'une seule et même passion. Nous considérons notre établissement comme un véritable oasis pour tous les mordus de littérature. Notre seul souhait est d'offrir aux gens à la fois l'objet de leur passion peu importe le genre littéraire qui leur plaît. Mais aussi de leur offrir l'opportunité de rencontrer d'autres personnes partageant une passion commune. C'est pour cela que nous n'effectuons pas de livraison, notre objectif est de rapprocher les gens autour de la passion pour la lecture. Nous vous souhaitons de nouveau la bienvenue sur notre site web et attendons avec impatience votre visite.</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title text-dark">Aventurer vous dans les tréfond de la fantaisie </h5>
                    <p class="card-text text-dark">Grotte plonger dans les ténèbres, forêt enchanter et chateau imposant lancer vous dans l'aventure faite la connaissance de personnage surpuissant dans des monde fantastique remplis de créature mythique, des mondes emplie de magie et des histoire tout aussi magique.</p>
                    </div>
                </div>
                </div>
            <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title text-dark">Decouvrer un monde de roman d'avenure</h5>
                <p class="card-text text-dark">Plonger dans différents roman que ce soit une grande aventure, un monde dystopique ou une histoire tragique ou l'histoire d'un voleur légendaire aventurer dans un monde d'aventure rencontrer des héros charismatique et entrer dans des récit captivants.</p>
                </div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title text-dark">Monter sur scène avec des pièces de théâtre intemporel</h5>
                <p class="card-text text-dark">Entrer découvire des piéces de théâtre de toutes époques des héros mythiques mais aussi des situations cocasses le théâtre est un genre regroupant aussi bien la comédie que le tragique permettant à chacun de faire la recontre d'un genre littéraire qui peut tout autant faire pleurer que faire rire.</p>
                </div>
            </div>
            </div>
        </div>
        <br>
        <br>
    </div>

    {% if books is not empty %}
    <div class="latest-books">
        <h2>Voici notre sélection rien que pour vous:</h2>
        <ul class="book-list">
            {% for book in books %}
                <li class="d-flex justify-content-end">
                    <div class="flex-grow-1 text-right bg-dark text-light d-flex align-items-center rounded">
                        <div class="mx-auto">
                            <h3 class="book-title text-wrap">Le titre de ce Livre est {{ book.title }}</h3>
                            <p class="book-author text-wrap">Écrit par {{ book.author }}</p>
                            <p class="book-description text-wrap">Genre: {{ book.genre }}</p>
                            <p class="book-description text-wrap">Description: {{ book.description }}</p>
                            <p class="book-description text-wrap">ISBN: {{ book.isbn }}</p>
                            <p class="book-description text-wrap">Éditeur: {{ book.editor }}</p>
                            <p class="book-description text-wrap">Prix: {{ book.price }}</p>
                            <p class="book-description text-wrap">Stock: {{ book.stock }}</p>
                        </div>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <img class="book-cover img-fluid img-thumbnail border border-primary w-100" src="{{ asset(book.cover) }}" alt="{{ book.title }} cover">
                        <form method="post" action="{{ path('commande_create') }}">
                            <input type="hidden" name="book_id" value="{{ book.id }}">
                            <button type="submit" class="btn btn-outline-dark btn-lg mt-3">Commander</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
        <div class="no-results">
            <p>Désolé, aucun résultat trouvé pour votre recherche "{{ query }}". Essayez avec un autre terme de recherche.</p>
            <p>Vous pouvez donner le Titre du livre que vous Rechercher ou bien sont auteur</p>
        </div>
    {% endif %}
{% endblock %}
