{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    {{ parent() }}
    <br><br>
    <h2>Mot de passe oublié ?</h2>
    <br><br>
    <p>Veuiller renseigner votre adresse E-mail, un mail vous sera envoyé pour reinitialiser votre mot de passe </p>
    <br><br>
    {% if app.session.flashbag.has('success') %}
        <div class="alert alert-success">
            {{ app.session.flashbag.get('success')[0] }}
        </div>
    {% endif %}

    {% if app.session.flashbag.has('danger') %}
        <div class="alert alert-danger">
            {{ app.session.flashbag.get('danger')[0] }}
        </div>
    {% endif %}

    {{ form_start(forgotPasswordForm) }}
        <div class="form-group">
            {{ form_label(forgotPasswordForm.email) }}
            {{ form_widget(forgotPasswordForm.email, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(forgotPasswordForm.email) }}
        </div>
        <br><br>
        <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(forgotPasswordForm) }}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}