{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Mon profil</h1>
    <form method="post" action="{{ path('update_user_info') }}">
        <div class="form-group">
            <label for="firstname">Prénom :</label>
            <input type="text" name="firstname" id="firstname" class="form-control" value="{{ user.firstname }}">
        </div>
        <br>
        <div class="form-group">
            <label for="lastname">Nom :</label>
            <input type="text" name="lastname" id="lastname" class="form-control" value="{{ user.lastname }}">
        </div>
        <br>
        <div class="form-group">
            <label for="email">Adresse email :</label>
            <input type="email" name="email" id="email" class="form-control" value="{{ user.email }}">
        </div>
        <br>
        <div class="form-group">
            <label for="phone">Téléphone :</label>
            <input type="tel" name="phone" id="phone" class="form-control" value="{{ user.phone }}">
        </div>
        <br>
        <div class="form-group">
            <label for="adresse">Adresse :</label>
            <input type="text" name="adresse" id="adresse" class="form-control" value="{{ user.adresse }}">
        </div>
        <br>
        <div class="form-group">
            <label for="sexe">Sexe :</label>
            <select name="sexe" id="sexe" class="form-control">
                <option value="Homme" {% if user.sexe == 'Homme' %}selected{% endif %}>Homme</option>
                <option value="Femme" {% if user.sexe == 'Femme' %}selected{% endif %}>Femme</option>
            </select>
        </div>
        <br>
        <div class="form-group">
            <label for="password">Mot De Pass :</label>
            <input type="password" name="password" id="password" class="form-control">
        </div>
        <br><br>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
    <br><br>
    <h2>Mes Commandes</h2>
    <br>
    {% if commandes is empty %}
        <p>Aucune commande pour l'instant.</p>
    {% else %}
        <ul>
            {% for commande in commandes %}
                <div>
                    <p class="font-weight-bold">Votre Commande du {{ commande.date|date('d/m/Y H:i') }} est actuellement en état {{ commande.status }}</p>
                    <form action="{{ path('delete_commande', {'id': commande.id}) }}" method="POST">
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                    <br>
                    <br>
                </div>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
