{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Mon profil</h1>
    <p>Prenom : {{ user.firstname }}</p>
    <p>Nom : {{ user.lastname }}</p>
    <p>Email : {{ user.email }}</p>
    <p>Téléphone : {{ user.phone }}</p>
    <p>Adresse : {{ user.adresse }}</p>
    <p>Sexe : {{ user.sexe }}</p>
    
    <form method="post" action="{{ path('update_user_info') }}">
    <div class="form-group">
        <label for="email">Adresse email :</label>
        <input type="email" name="email" id="email" class="form-control" value="{{ app.user.email }}">
    </div>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
</form>
{% endblock %}