{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Tableau de bord</h1>
    <h2>Toutes les commandes</h2>
    {% if commandes is empty %}
        <p>Aucune commande pour l'instant.</p>
    {% else %}
        <ul>
            {% for commande in commandes %}
                <div>
                    <p class="font-weight-bold">{{ commande.id }} a passé une commande le {{ commande.date|date('d/m/Y H:i') }} qui est actuellement en état {{ commande.status }}</p>
                    <form action="{{ path('delete_commande_admin', {'id': commande.id}) }}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette commande ?');">
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                    <br>
                    <br>
                </div>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}