{% extends 'base.html.twig' %}

{% block title %}Roman{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
     <div class="latest-books">
        <h2>Voici une selection du genre: {{ genre }}</h2>
        <ul class="book-list">
            {% for book in books %}
                <li class="d-flex justify-content-end">
                    <div class="flex-grow-1 text-right bg-dark text-light d-flex align-items-center rounded">
                        <div class="mx-auto">
                            <h3 class="book-title text-wrap">Le titre de ce Livre est {{ book.title }}</h3>
                            <p class="book-author text-wrap">Écrit par {{ book.author }}</p>
                            <p class="book-description text-wrap">Genre: {{ book.genre }}</p>
                            <p class="book-description text-wrap">Description: {{ book.description }}</p>
                            <p class="book-description text-wrap">ISBN: {{ book.isbn }}</p>
                            <p class="book-description text-wrap">Éditeur: {{ book.editor }}</p>
                            <p class="book-description text-wrap">Prix: {{ book.price }}</p>
                            <p class="book-description text-wrap">Stock: {{ book.stock }}</p>
                        </div>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <img class="book-cover img-fluid img-thumbnail border border-primary w-100" src="{{ asset(book.cover) }}" alt="{{ book.title }} cover">
                        <form method="post" action="{{ path('commande_create') }}">
                            <input type="hidden" name="book_id" value="{{ book.id }}">
                            <button type="submit" class="btn btn-outline-dark btn-lg mt-3">Commander</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}