<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap-icons.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}

        {% block javascripts %}
        <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
    {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">My Site</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('app_homepage') }}">Page d'accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_profile') }}">Profile</a>
                        </li>
                    </ul>
                </div>
            </nav>
        {% endblock %}
        {% block body %}
            <div class="hero">
                <img src="{{ asset('images/save_logo.png') }}" alt="Logo de la Librairie du Lys" class="logo">
                <h1 class="title">Bienvenue à la Librairie du Lys</h1>
                <p>Découvrez notre sélection de livres</p>
            </div>
        {% endblock %}
        {% block footer %}
            <footer class="bg-dark text-center text-white">
                <div class="container p-4">
                    <div class="row">
                    <div class="col-md-4">
                        <h5>A propos</h5>
                        <p>La Librairie Du Lys est une librairie qui aspire à garder le contact humain au sein des passionné de lecture.</p>
                    </div>
                    <div class="col-md-4">
                        <h5>Où nous trouver</h5>
                        <p>Adresse postale<br>
                        60, rue du lys<br>
                        77190 Dammarie-les-lys.</p>
                    </div>
                    <div class="col-md-4">
                        <h5>Contactez-nous</h5>
                        <br>
                        <section class="mb-4">
                        <a href="mailto:ryansifi@librairiedulys.fr" class="text-white text-decoration-none link">Envoyer nous un e-mail</a>
                        </section>
                    </div>
                    </div>
                    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                        © 2023 Copyright:
                        <a class="text-white" href="http://librairiedulys.fr/">librairiedulys.fr</a>
                        <a class="text-white" href="{{ path('app_mentions_legales') }}">Mentions Légales</a>
                        <a class="text-white" href="{{ path('app_politiques_confidentialite') }}">Politiques de Confidentialité</a>
                    </div>
            </footer>
            {% endblock %}
    </body>
</html>
